.papu{
  color: red;
}


.back{
  
  background-image: url("./screens/assam2.webp");
  height: 500px;
  background-size: cover;
  position: relative;
  filter: brightness(100%);
 
 
}
video{
  height: 90%;
  width: 100%;
}
#back1{
  text-align: center;
  padding-top: 12%;
  
  
}
.login{
  width: 30%;
  margin-left: 35%;
   align-items: center;
   justify-content: center;
  margin-top: 10%;
  text-align: center;
  
}
.login h5{
  color: blueviolet;
}






